@import "../vendor/bootstrap/bootstrap/_variables";

.sidebar {
  background: #fafafa;
  min-height: 300px;

  .nav {
    li {
      margin: 20px 0;

      a {
        color: #4AB34C;
      }

      &.active a {
        color: #373737;
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  .sidebar {
    min-height: 0;

    .nav li {
      float: left;
    }
  }
}